---
layout: page
title: "My Story"
description: "Hey, this is Wenwan."
header-img: "img/post-bg-rwd.jpg"
---

<!-- Language Selector -->
<!-- <select class="sel-lang" onchange= "onLanChange(this.options[this.options.selectedIndex].value)">
    <option value="0" selected> 中文 Chinese </option>
    <option value="1"> 英文 English </option>
</select> -->

<!-- Chinese Version -->
<div class="zh post-container">

    <!--copied from markdown -->
    <blockquote><p>below is my<br>
        Not-So-asaerious Bio</p></blockquote>

    <p>Hey，I am<strong>Wenwan</strong>, I am moving to Rice this fall.</p>

    <strong>CV</strong>  <a href="https://scholar.google.com/citations?user=tVTD-HAAAAAJ&hl=zh-CN"></a><strong>Google Scholar</strong></a>


    <h5>Education</h5>

    <p>
<strong>Beijing University of Posts and Telecommunications(BUPT), Beijing, China</strong>
09/2016-03/2018: Research Assistant in National Engineering Laboratory for Mobile Network Technologies, School of Information and Communication Engineering
09/2012-07/2016: B.Eng in Information Engineering, School of Information and Communication Engineering
Rank: 22/176 ,                             GPA Overall: 87.39/100,                                          
TOEFL: 109(Listening 30)    GRE: 329(V159; Q170)  AWA 3.5</p>

<strong>Publications</strong>
    <p>[1] W. Chen, X. Xu, C. Yuan, J. Liu and X. Tao, "Virtualized Radio Resource Pre-allocation for QoS Based Resource Efficiency in Mobile Networks," 2017 IEEE Global Communications Conference (GLOBECOM), Singapore, 2017.<a href="https://docs.google.com/viewer?a=v&pid=sites&srcid=ZGVmYXVsdGRvbWFpbnx3d2NoZW5ubnxneDoyZmYwYTVmZmYyMmFhYTZi"></a>PDF</a> <a href="https://KKKKKKKKKKKK"></a> CODE</a>
       [2] X. Xu, C. Yuan, W. Chen, X. Tao, Y. Sun, "Adaptive Cell Zooming and Sleeping for Green Heterogeneous Ultra-Dense Networks," IEEE Transactions on Vehicular Technology, vol. PP, no. 99, pp. 1-1. <a href="https://docs.google.com/viewer?a=v&pid=sites&srcid=ZGVmYXVsdGRvbWFpbnx3d2NoZW5ubnxneDozNGQ3NTQ3MTVhMjFmMjcw"></a>PDF</a>
       [3] X. Xu, J. Liu, W. Chen. et al, "Storage and computing resource enabled joint virtual resource allocation with QoS guarantee in mobile networks," Science China Information Sciences, 2017, 60(4): 040304. <a href="https://docs.google.com/viewer?a=v&pid=sites&srcid=ZGVmYXVsdGRvbWFpbnx3d2NoZW5ubnxneDozOGY4M2Q4Mzc2MjYxZDNl"></a>PDF</a>
       [4] J. Liu, X Xu, W Chen and Y Hou, "QoS guaranteed resource allocation with content caching in SDN enabled mobile networks," 2016 IEEE/CIC International Conference on Communications in China (ICCC Workshops), Chengdu, 2016, pp. 1-6.<a href="https://docs.google.com/viewer?a=v&pid=sites&srcid=ZGVmYXVsdGRvbWFpbnx3d2NoZW5ubnxneDpiMzA2YmE0NTJhZTQ1NA"></a>PDF</a>

    </p>

    
<h5>Research Experience</h5>
    <p>❤ From 2016 fall to 2018 spring, it has been a privilege for me to collaborate with Professor<a href="https://scholar.google.com/citations?user=Rm3VFdAAAAAJ&hl=zh-CN"></a> Xiaodong Xu</a> who have inspired 
        me and helped to shape my research philosophy and vision. My research was supported by the National Engineering Laboratory for Mobile Network Technologies, Beijing University of Posts and Telecommunications.
        I greatly appreciate guidance from Professor Xu and this period of time is one of the best. </p>

    <p>In the past two years, my research interests include (but not limited to) the modeling and optimization in different scenarios, like <strong>network virtualization</strong> and <strong>mobile computing</strong>.
    Details can be found in this kkkkkkkkkkkkkkkkkkkkk page.</p>
    
    <p>In fact, I have been keen on convex optimization and decomposition techniques in math programming because they help abstract complex problems in the real world into something that computers can handle, 
        which is in part the significance of scientific research in computer-related areas. </p>
    
    

<h5>My First Intern</h5>

    <p>❤ From 2018 spring to 2018 fall, I spent three months' at <a href="https://www.7invensun.com/?lang=en"></a>7Invensun</a> as image algorithm engineer intern, tinkering around algorithms, writing codes 
        and looking for new ideas. In 2009, the CEO of 7Invensun, at that time a tenured faculty in Shenyang Aerospace University, turned his 
        reasured work into a start-up business.Therefore, I wanted to learn from this company and also to see how my research and my skills behind stacked
         up against the needs of industry. Luckily, I found the experience exciting and I met some great people and we worked on many meaningful and interesting projects. 
         Details can be found in this kkkkkkkkkkkkkkkkkkkkk page.
        
        I also noticed some difference: life in the industry is driven by making money and that is not what drives my research. 
        Since I am more into curiosity and interpretability, I'll definitely treasure and appreciate the freedom I have at Rice.
    </p>
    


<h5>From where my curiosity began</h5>

<p>
        My curiosity and fascination with algorithms goes back to when I got the First Prize in the National College Student E-Commerce 
        Innovation Challenge, under the guidance of Professor <a href="https://www.researchgate.net/scientific-contributions/69889378_Xuecheng_Yang"></a>Xuecheng Yang</a>. 
        A young bull as I was, I went directly to the investment bank, hoping that our treasured work would be transformed into a start-up business.
         However, the professional manager refused my request politely and showed me a previous successful case from another team. 
         The difference is noticeable. They proposed a smart and small scheme for predicting the real-time parking places within a certain area 
         and this did not rely on a large labeled dataset. In other words, better functions and fewer cost, so they got the chance. 
         I was impressed with this wonderful scheme and for the first time, I realized the huge opportunities behind the state-of-the-art technology, 
         which made me extremely excited. At that time, I made up my mind that instead of “bring yesterday’s technology one step closer to tomorrow”, 
         I would like to make a real difference. Maybe someday I can transform the edge-cutting scientific research achievements into products and engineer a better world for people.
</p>



    
    



    <ul>
        <li><a href="https://github.com">GitHub</a></li>
        <li><a href="http://jekyll.com.cn/">jekyll</a></li>
        <li><a href="http://huangxuan.me/">Hux</a></li> 
        <li><a href="https://analytics.google.com/analytics">Google Analytics</a></li>
    </ul>
</div>

<!-- English Version -->
<!-- <div class="en post-container">
    <blockquote><p>Yet another iOS Developer. <br>
    Yet another Life-long Student.</p></blockquote>

    <p>Hi, I am <strong>Baiying Qiu</strong>，you can call me <strong>BY</strong>. I am an iOS software engineer and currently working in Xiamen</p>

    <p>This is my personal blog, through making Github Pages and Jekyll.My GitHub  👉 <a href="http://github.com/qiubaiying">Github·BY</a>.</p>
    
    <p>I am a sports enthusiast, I like fitness, running and boxing.</p>

    <h5>Talks</h5>

    <ul>
    <li><a href="https://github.com">GitHub</a></li>
    <li><a href="http://jekyll.com.cn/">jekyll</a></li>
    <li><a href="https://pages.github.com/">GitHub Pages</a></li>
    <li><a href="https://qiubaiying.github.io">BY</a></li>
    </ul>
</div> -->

<!-- Handle Language Change -->
<script type="text/javascript">
    // get nodes
    var $zh = document.querySelector(".zh");
    var $en = document.querySelector(".en");
    var $select = document.querySelector("select");

    // bind hashchange event
    window.addEventListener('hashchange', _render);

    // handle render
    function _render(){
        var _hash = window.location.hash;
        // en
        if(_hash == "#en"){
            $select.selectedIndex = 1;
            $en.style.display = "block";
            $zh.style.display = "none";
        // zh by default
        }else{
            // not trigger onChange, otherwise cause a loop call.
            $select.selectedIndex = 0;
            $zh.style.display = "block";
            $en.style.display = "none";
        }
    }

    // handle select change
    function onLanChange(index){
        if(index == 0){
            window.location.hash = "#zh"
        }else{
            window.location.hash = "#en"
        }
    }

    // init
    _render();
</script>


<!-- Gitalk 评论 start  -->
{% if site.gitalk.enable %}
<!-- Gitalk link  -->
<link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
<script src="https://unpkg.com/gitalk@latest/dist/gitalk.min.js"></script>

<div id="gitalk-container"></div>
    <script type="text/javascript">
    var gitalk = new Gitalk({
    clientID: '{{site.gitalk.clientID}}',
    clientSecret: '{{site.gitalk.clientSecret}}',
    repo: '{{site.gitalk.repo}}',
    owner: '{{site.gitalk.owner}}',
    admin: ['{{site.gitalk.admin}}'],
    distractionFreeMode: {{site.gitalk.distractionFreeMode}},
    id: 'about',
    });
    gitalk.render('gitalk-container');
</script>
{% endif %}
<!-- Gitalk end -->

 <!-- disqus 评论框 start  -->
{% if site.disqus.enable %}

<div class="comment">
    <div id="disqus_thread" class="disqus-thread">
    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus.username}}";
    var disqus_identifier = "{{site.disqus.username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}

